@using HCM_app.ViewModels
@using System.IdentityModel.Tokens.Jwt
@using System.Text
@using System.Security.Claims
@model ProfileViewModel
<div class="mb-5 mt-5 container w-25 align-content-center align-items-center align-self-center justify-content-center text-center">

    <div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.FirstName):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.FirstName
        </h5>
    </div>
    <div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.LastName):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.LastName
        </h5>
    </div><div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.Email):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.Email
        </h5>
    </div>
    <div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.Department):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.Department
        </h5>
    </div>
    <div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.JobTitle):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.JobTitle
        </h5>
    </div>
    <div class="mb-2 fs-4 fw-bolder font-monospace">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.Salary):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.Salary
        </h5>
    </div>

    <div class="mb-2 fs-4 fw-bolder ">
        <h5 class="font-monospace">
            @Html.DisplayNameFor(x => x.Role):
        </h5>
        <h5 class="font-monospace fw-bold">
            @Model.Role
        </h5>
    </div>
</div>
@if (this.Context.Session.TryGetValue("jwt", out var jwt))
{
    var handler = new JwtSecurityTokenHandler();
    var tokenString = Encoding.UTF8.GetString(jwt);
    var secToken = handler.ReadJwtToken(tokenString);
    var email = secToken.Claims.First(x => x.Type == ClaimTypes.Email).Value;
    if (email == Model.Email)
    {
        <div class="mb-5 mt-5 container w-25 align-content-center align-items-center align-self-center justify-content-center text-center">

            <h4 class="font-monospace">To change your password, please type your old password and then your new password:</h4>
            <form asp-action="ChangePassword" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <h5 class="font-monospace">Type your old password: </h5>
                <input type="password" class="form-control" name="oldPassword" />
                <h5 class="font-monospace">Type your new password: </h5>
                <input type="password" class="form-control" name="newPassword" />
                <button type="submit" class=" btn btn-primary mb-3 mt-3 font-monospace btn-lg">Change password</button>
            </form>
        </div>
    }
}