@using SharedModels
@model UsersToUpdateViewModel

@if (Model.Errors != null)
{
	foreach(string error in Model.Errors)
	{
		<h4 class="text-danger">@error</h4>
	}
}
<form asp-action="UpdateUsersManager" asp-controller="Home" method="post">
	@Html.AntiForgeryToken()
	@for (int i = 0; i < Model.Users.Count; i++)
	{
		<input type="hidden" value="@Model.Users[i].Id" name="users[@i].Id" />
		<h5>First Name: @Model.Users[i].FirstName</h5>
		<input type="text" value="" name="users[@i].FirstName" />
		<h5>LastName: @Model.Users[i].LastName</h5>
		<input type="text" value="" name="users[@i].LastName" />
		<h5>Email: @Model.Users[i].Email</h5>
		<input type="text" value="" name="users[@i].Email" />
		<h5>Salary: @Model.Users[i].Salary</h5>
		<input type="number" value="" name="users[@i].Salary" />
		<h5>Department: @Model.Users[i].Department</h5>
		<input type="text" value="" name="users[@i].Department" />
		<h5>Job Title: @Model.Users[i].JobTitle</h5>
		<input type="text" value="" name="users[@i].JobTitle" />
		<h5>Role: @Model.Users[i].Role</h5>
		<input type="text" value="" name="users[@i].Role" />
		<h5>Delete user? :</h5>
		<input name="users[@i].ShouldDelete" type="checkbox" class="form-check-input" value="true" />
		<br />
		<br />
	}
	<button type="submit">Update users</button>
</form>